<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(product){ %>
        <li>
            <%= "Nome= "%>
            <%= product.nome %>
            <%=  "Quantidade= " %>
            <%= product.quantidade %>
          <a href="/edit/<%= product._id %>">
            <input type="submit" value="Editar" />
          </a>
          <a href="/delete/<%= product._id %>" 
            onclick="return confirm('Tem certeza que deseja excluir?');">
            <input type="submit" value="Excluir" />
          </a>
        </li>
      <% }) %>
    </ul>
    <hr />
    <a href="/new">Cadastrar novo produto</a>
    <a href="/search">Procurar um produto</a>
  </body>
</html>